header {
    section {
        position: relative;
        display: flex;
        margin-top: 100px;
        min-height: 80vh;
        h1 {
            transition: color 1s ease-out 100ms;          
            &:hover,
            &:focus,
            &:active {
                color: #e686fb;          
            }
            span {
                display: block;
                color: #ffff;
            }
        }      
        .pointer {
            @include fontSize(80);
            a {
                i {               
                    margin: 0 0 0 150px;
                    position: absolute;
                    bottom: 0;                    
                    color: #d7ff49;
                    animation: blink s steps(5, start) infinite;
                    -webkit-animation: blink 2s steps(5, start) infinite;                
            
                    @keyframes blink {
                        to {
                            visibility: hidden;
                        }
                    }
                
                    @-webkit-keyframes blink {
                        to {
                            visibility: hidden;
                        }
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        color: #e686fb;
                    }
                }               
            } 
        } // END .pointer         
    } // END section
} // END header
