body {
    animation: fadeIn 2s;
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            }
    }
    background-color: #263E31;
    color: #e6fff8;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

footer {
    border-top: 2px solid #ffff;
    padding: 100px;
    width: 100%;
    text-align: center;
}
