@media screen and (max-width: 1024px) {
    .mainNav {
        ul {
            li {
            display: none;
            }
        }
    } // END .mainNav
    .navBar {
        .menuOpen {
            @include fontSize(50);
            display: block;
            float: right;            
            }
    }// END .navBar
// END NAV ------------------------------
    header {
        section {
            .pointer {
                a {
                    i {
                        margin: 0 0 0 -190px;
                    }
                }
            }
        }
    }
// END HEADER ------------------------------
    #about {
        .aboutMeDetails {
            flex-direction: column;
            .aboutPhoto {
                    display: center;
                    margin: 0 auto;
                    img {
                        width: 400px;
                        height: 700px;
                        margin-bottom: 50px;
                    }
            }
        } //END .aboutMeDetails

        .skill {
            .skillList {
                display: grid;
                grid-template-rows: 100px 180px;
                grid-template-columns: repeat(4, 200px);
                justify-content: center;
            }
        } //END .skill
    } // END #about
// END ABOUT ---------------------------------
    #projects {
        .eachProject {     
            flex-direction: column;       
            .firstProject, .secondProject {
                position: relative;
                margin: 0 auto;
                
                .firstMockupImg, .secondMockupImg {                  
                    img {                        
                        align-items: center;
                        display: center;
                        margin: 0 auto;
                        width: 705px;
                    }                    
                }                             
            } // END .firstProject, .secondProject

            .firstProject {
                .overlay {
                    padding: 70px;
                }
            }
            .secondProject {
                margin-top: 100px;

                .overlay {
                    padding: 50px;
                }
            }
        } // END .eachProject
    } // END #projects
} // END media screen max-width: 1024px


@media screen and (max-width: 480px) {
   header {
        margin-top: 400px;
        // height: 40vh;
        #home {            
            h1 {
                @include fontSize(70);                
            }           
            span {
                @include fontSize(40);
            }
        } // END #home
    } // END Header

    #about {
        .aboutMeDetails {
            position: relative;
            .aboutPhoto {
                img {
                    width: 300px;
                    height: 450px;
                    margin-left: -20px;
                }
            }
            .aboutMeInfo {
                button {
                    display: block;
                    margin: 0 auto;
                    padding: 10px 15px;
                    font-family: inherit;
                    font-weight: bold;
                    border: transparent;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: #e686fb;

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: #a8edf4;
                        color: #e686fb;
                    }
                }
            }
            .aboutInfo {                
                display: none;
                color: #263E31;
                background-color: rgba(248, 166, 228, 0.9);
                left: -100px;
                position: fixed;
                z-index: 100;                    
                width: 480px;
                height: 120vh;
                margin: 150px 0;
                padding-top: 50px;
            }
        } // END .aboutMeDetails

        .skill {
            .skillList {
                    display: grid;
                    grid-template-rows: 70px 50px;
                    grid-template-columns: repeat(2, 100px);
                    grid-gap: 40px;
                    justify-content: center;
            }
        } // END .skill 
    } // END #about

    #projects {
        .eachProject {
            margin: 0 auto;
            
            .firstProject, .secondProject {
                h3 {
                        @include fontSize(30);
                    }
                
                    p {
                        display: none;
                    }
                
                    ul {
                        @include fontSize(20);
                
                        li {
                            @include fontSize(20);
                            padding: 5px 4px 0px;
                        }
                    }
                
                    button {
                        padding: 0px 6px 3px;
                        a {
                            @include fontSize(20);
                            
                        }
                    }
            }

            .firstProject {               
                .firstMockupImg {
                    img {
                        width: 450px;
                        margin-left: -65px;     
                        height: 100%;                   
                    }                    
                }    
                
                .overlay {
                    width: 450px;
                    padding: 80px 40px 0;
                    margin-left: -65px;   
                     
                } 
            }

            .secondProject {
                .secondMockupImg {
                    img {
                        width: 450px;
                        margin-left: -62px;
                    }
                }
                .overlay {
                    width: 450px;
                    padding: 40px;
                    margin-left: -62px;
                }
            } // END .secondProject           
        }
    }
} // END media screen max-width: 480px}