#projects {
    margin-top: 100px;

    .eachProject {
        padding-bottom: 100px;

        .firstProject {
            display: flex;

            .firstMockupImg {
                width: 50%;
                img {
                    border-radius: 3%;    
                    width: 600px;        
                }
            }
            .projectInfo {
                margin: 50px 0 0 30px;

                h3 {
                    margin: 0;
                    display: block;
                }

                ul {
                    display: flex;
                    padding: 0;

                    li {
                        list-style: none;
                        margin-left: 10px;
                        color: #67fcb9;
                        background-color: #e587c6;
                        padding: 0 3px;
                        border-radius: 3px;
                    }
                }

                button {
                    @include fontSize(35);
                    background-color: #e587c6;
                    border: transparent;
                    border-radius: 8%;
                    float: right;
                    margin: 15px 0 0 15px;


                    &:hover,
                    &:focus,
                    &:active {
                        background-color: #d7ff49;
                    }

                    a {
                        text-decoration: none;
                        color: #67fcb9;
                        background-color: #e587c6;

                        &:hover,
                        &:focus,
                        &:active {
                            font-weight: 700;
                            color: #263E31;
                            background-color: #d7ff49;
                        }
                    }
                }
            }
        }

        .secondProject {
            margin-top: 50px;
            display: flex;
            flex-direction: row-reverse;

            .secondMockupImg {
                img {
                    border-radius: 3%;
                    width: 600px;
                }
            }
            .projectInfo {
                margin: 30px 40px 0 20px;

                h3 {
                    margin: 0;
                    display: block;
                }

                ul {
                    display: flex;
                    padding: 0;

                    li {
                        list-style: none;
                        margin-left: 10px;
                        color: #67fcb9;
                        background-color: #e587c6;
                        padding: 0 3px;
                        border-radius: 3px;
                    }
                }

                button {
                    @include fontSize(35);
                    background-color: #e587c6;
                    border: transparent;
                    border-radius: 8%;
                    float: right;
                    margin: 25px 15px 0 0;


                    &:hover,
                    &:focus,
                    &:active {
                        background-color: #d7ff49;
                    }

                    a {
                        text-decoration: none;
                        color: #67fcb9;
                        background-color: #e587c6;

                        &:hover,
                        &:focus,
                        &:active {
                            font-weight: 700;
                            color: #263E31;
                            background-color: #d7ff49;
                        }
                    }
                }
            }
        }   
    }
}