body {
    @include fontSize(25);
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5mm;
}

nav {
    @include fontSize(30);

    ul {
        li {
            &:hover,
            &:focus,
            &:active {
                color: #e686fb;
                font-weight: 700;
                text-decoration-line: underline;
            }
        }
    }
}

h1 {
    @include fontSize(70);
}

h2 {
    text-align: center;
    @include fontSize(45);

    &:hover,
    &:focus,
    &:active {
        color: #e686fb;
        font-weight: 700;
        text-decoration-line: underline; 
    }
}

h3 {
    @include fontSize(35);
    margin: 0;
}
